DB_TYPE=postgres
# Render INTERNAL DB URL (preferred)
DATABASE_URL=postgresql://saas_delivery_db_user:Gryh4H17hHcGpaVu8tftB8V8IYdxyOzW@dpg-d4s9r7ggjchc73e8rdu0-a/saas_delivery_db

NODE_ENV=production
ALLOWED_ORIGINS=https://your-frontend-url.onrender.com
TIME_ZONE=UTC

# Render sets PORT automatically; no need to set it here

